.lg-side-nav-expand-all-button {
  display: block;
  width: 100%;
  border: none;
  text-align: left;
  padding-left: 30px;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  background-color: #2F81B7;
  color: white;
  line-height: 32px;
}