.lg-side-nav-group {
  background-color: #e3edfa;
  line-height: 32px;
  color: #0277bd;
  font-weight: bold;
  position: relative; }

.lg-side-nav-group-title {
  padding-left: 30px; }

.lg-side-nav-group-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: none; }

.show {
  display: block; }

.lg-side-nav-triangle-collapsed {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 5px;
  border-color: transparent transparent transparent #007bff;
  position: absolute;
  top: 12px;
  left: 12px; }

.lg-side-nav-triangle-expanded {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #007bff transparent transparent transparent;
  position: absolute;
  top: 14px;
  left: 10px; }
.lg-side-nav-item {
  background-color: #F5FBFF;
  line-height: 32px;
  padding-left: 30px;
  border: 1px solid #F5FBFF; }
  .lg-side-nav-item:hover {
    border: 1px solid #BBDEFB;
    background-color: #BBDEFB; }

.lg-nav-item-selected {
  border: 1px solid #E3F2FD;
  background-color: #E3F2FD; }
.lg-side-nav-expand-all-button {
  display: block;
  width: 100%;
  border: none;
  text-align: left;
  padding-left: 30px;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  background-color: #2f81b7;
  color: white;
  line-height: 32px; }

.lg-side-nav-expand-all-button-icon-plus,
.lg-side-nav-expand-all-button-icon-minus {
  float: right;
  margin-right: 10px; }
.lg-side-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-family: Open Sans,Arial,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Lantinghei SC,STHeiti,WenQuanYi Micro Hei,SimSun,sans-serif; }
.lg-side-nav-link {
  text-decoration: none;
  font-weight: normal;
  display: inline-block;
  width: 100%; }
  .lg-side-nav-link:link {
    color: #01579B; }
  .lg-side-nav-link:visited {
    color: #01579B; }
  .lg-side-nav-link:hover {
    color: #01579B; }
  .lg-side-nav-link:active {
    color: #01579B; }
.customized-nav-container {
  width: 200px; }
